.bottoni {
  background-color: white;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  color: $VeryDarkGray;
  letter-spacing: 12px;
}

.bot {
  display: flex;
  align-items: center;
}

.allignBottone {
  display: flex;
  align-items: center;
}
